<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687811713147-ipai02mtk12slbr1q0nnn4p9a2a4cqle.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687811713147-ipai02mtk12slbr1q0nnn4p9a2a4cqle</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>687811713147-61ftl0kvbou2qt795adsqss56omedgke.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzjaSIm_Uq6CiMK2pAmpwKOA-AxIx87co</string>
	<key>GCM_SENDER_ID</key>
	<string>687811713147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alibi.quizapp</string>
	<key>PROJECT_ID</key>
	<string>fireship-quizapp-cac0a</string>
	<key>STORAGE_BUCKET</key>
	<string>fireship-quizapp-cac0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687811713147:ios:56ef8dd12e56916a6d6ade</string>
</dict>
</plist>